.generator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 20px 20px;
    position: relative;

    .copied-text {
        color: #4caf50;
        font-weight: bold;
        margin: 0;
        position: absolute;
        bottom: -10px;
    }

    .error-text {
        color: red;
        font-size: 14px;
        font-weight: bold;
    }
}

.generator-container label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.generator-container .length-input {
    width: 60px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.generator-container .generate-btn {
    margin-top: 16px;
    cursor: pointer;
}

.generator-container .copy-btn {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.generate-btn {
    background-color: #0062cc;
    color: #fff;
}

.generate-btn:hover {
    background-color: #0056b3;
}

.generate-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.password-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 316px;
    justify-content: space-between;
}

.password-container .password {
    font-family: monospace;
    font-size: 16px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word; 
    word-break: break-all;
    max-width: 100%;
    text-align: left;
}

.password-container .copy-btn {
    background-color: #4caf50;
    color: #fff;
}

.password-container .copy-btn:hover {
    background-color: #218838;
}